# ==============================================================================
# CONFIGURAÇÕES DO SERVIDOR L2J MOBIUS DOCKER (VPS / LOCAL)
# ==============================================================================

# IP Externo da VPS (ou 127.0.0.1 se for testar localmente no Docker)
EXTERNAL_IP=127.0.0.1

# Banco de Dados
DB_NAME=l2jmobiusinterlude
DB_USER=root
DB_PASSWORD=luiz33423342
DB_PORT=3306

# Memória RAM para o GameServer (Recomendado na VPS: 4g ou mais conforme a máquina)
GAME_JAVA_XMS=2g
GAME_JAVA_XMX=4g

# Memória RAM para o LoginServer
LOGIN_JAVA_XMS=128m
LOGIN_JAVA_XMX=512m

# Criptografia de pacotes Blowfish (True para client oficial/padrão, False para clients sem proteção)
PACKET_ENCRYPTION=True
